# Core Libraries
langchain==0.2.1
langchain-core==0.2.4
langchain-community==0.2.4
langchain-text-splitters==0.2.0

# PDF Processing
pypdf==4.2.0
pdfminer.six
unstructured
PyMuPDF==1.24.0

# Embeddings & Vector Store
sentence-transformers==3.0.0
faiss-cpu==1.8.0
scikit-learn

# LLM Interface
huggingface-hub==0.23.1
transformers==4.41.2
torch==2.3.0
bitsandbytes  # Use latest available version
accelerate==0.30.1 

# Utilities
python-dotenv==1.0.1
tiktoken==0.7.0
numpy==1.26.4
black
nltk
psutil
requests==2.31.0
beautifulsoup4==4.12.2
lxml==4.9.3

# Streamlit
streamlit